@tailwind base;
@tailwind components;
@tailwind utilities;


/* hide scrollbar default styles */
.hide-default-scrollbar::-webkit-scrollbar{
    display: none;
}


#change-default-style::part(time-list){
    color:#DA3545;
}

#change-default-style::part(am-pm-field){
    align-content: end;
}